
  
    
    input{
        margin-bottom: 8px;
        border-radius: 4px;
    } 
    label{
        color: rgb(15, 15, 15);
    }
    body{
        background: white;
    }
    h2{
        color: rgb(8, 8, 8);
        text-align: center;
    }
    
    h3{
        color: rgb(15, 13, 13);
        text-align: center;
    }
    p{
        color: darkblue;
    }
    .btn{
        color: rgb(10, 7, 4);
        background-color: whitesmoke;
        border-radius: 4px;
        border-bottom: black;
        cursor: pointer;
    }
    legend{
        color: darkblue;
    }